<div class=row>
      
   <div class="col-md-4">             
    <div id="card" class="card" style="margin-bottom: 30%;">
      <img class="card-img" src="https://user-images.githubusercontent.com/67487647/115541159-7a4c7000-a2a7-11eb-8710-58392b3107b0.jpg" alt="Card image cap" id="images" width="450" height="400">
      <div class="card-body">
        <a class="btn btn-outline-secondary btn-lg btn-block" [routerLink]="['medidata-view']" routerLinkActive="active">Your Records</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">             
    <div id="card" class="card" style="margin-bottom: 30%;">
      <img class="card-img" src="https://user-images.githubusercontent.com/67487647/115541256-9819d500-a2a7-11eb-94eb-2528d5bb43d2.jpg" alt="Card image cap" id="images" width="450" height="400">
      <div class="card-body">
        <a class="btn btn-outline-secondary btn-lg btn-block" [routerLink]="['medidata-view']" routerLinkActive="active">Consultations</a>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">             
    <div id="card" class="card" style="margin-bottom: 30%;">
      <img class="card-img" src="https://user-images.githubusercontent.com/67487647/115539801-14131d80-a2a6-11eb-9684-9d3ed0ad3a5d.png" alt="Card image cap" id="images" width="450" height="400">
        <div class="card-body">
          <a class="btn btn-outline-secondary btn-lg btn-block" [routerLink]="['medidata-insert']" routerLinkActive="active">Add a new Record</a>     
        </div>
    </div>
 </div>

</div>   



      
        

    