<!-- 
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Sacchon <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-record" viewBox="0 0 16 16">
                <path d="M8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm0 1A5 5 0 1 0 8 3a5 5 0 0 0 0 10z" />
            </svg></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['medidata-view']">Records</a>
              </li>
            
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['medidata-insert']">Add new Record</a>
            </li>
            
          </ul>
          <form class="form-inline my-2 my-lg-0">
            
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">LOGOUT</button>
          </form>
        </div>
      </div> -->
       
      <!-- <a class="nav-link" [routerLink]="['consultations-view']" routerLinkActive="active">Your Consultations</a> -->
    
      <a class="btn btn-outline-secondary btn-lg btn-block" [routerLink]="['medidata-view']" routerLinkActive="active">Your Records</a>
    
    
      <a class="btn btn-outline-primary btn-lg btn-block" [routerLink]="['medidata-insert']" routerLinkActive="active">Add a new Record</a>      
  

    <!-- <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
    <a class="btn btn-primary" href="#" role="button">Link</a> -->
