.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }

  .card {
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: rgb(177, 241, 250);
    background-color: #f0f5f5 ;
    transition: 0.66s;
  }