<div class="container pt-4 mt-lg-4">
    <div class="row" style="margin-bottom: 20%;">
        <h1>Sacchon</h1>
        
          

<div class="row" style="text-align: center;">
    <section>
        <h6 style="margin-bottom: 20%;">
            Your wellness, our mission!
        </h6>
        <h5> Are you a doctor? </h5>

        <div>
            <div class="row">
                
               
                    <div class="col-xs-6" style="margin-bottom: 60%;">
                        <button type="submit" style="margin-right" class="mt-2 btn btn-sm btn btn-link"
                            [routerLink]="['/login/doctor_login']" routerLinkActive="active">
                            Sign-In as a doctor
                        </button>
                        <button type="submit" style="margin-right" class="mt-2 btn btn-sm btn btn-link"
                            [routerLink]="['/register/doctor_register']" routerLinkActive="active">
                            Register as a doctor
                        </button>
                    </div>
            

                    <div class=row>
                        <!-- <div class="col-md-5">             -->
                        <div id="card" class="card" style="margin-bottom: 30%;">
                            <!-- <img class="card-img-top" src="/images/tools.jpg" alt="Card image cap" id="images"> -->
                            <div class="card-body">
                                <h4 id="h4" class="card-title">Why us</h4>
                                <p class="card-text text-left">We are a dedicated team launching this revolutionary iniatiative to
                                    improve your quality of life day to day. We believe that immediate availability of health
                                    records and trained healthcare professionals will offer you what you need in the easiest way
                                    than ever before-just with one click!
                            </div>
                        </div>
                        <!-- </div>  -->
                    </div>
                    
                    
                
            </div>
        </div>
    </section>
</div>
</div>




