<!-- 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Sacchon <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-record" viewBox="0 0 16 16">
                <path d="M8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm0 1A5 5 0 1 0 8 3a5 5 0 0 0 0 10z" />
            </svg></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['login']"
                        routerLinkActive="active">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" 
                    [routerLink]="['register']" routerLinkActive="active">Register</a>
                </li>

                <!-- dokimastiko -->

                <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" 
                    [routerLink]="['userdata']" routerLinkActive="active">Profile</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" 
                    [routerLink]="['doctor']" routerLinkActive="active">Doctor</a>
                </li>

            </ul>
        </div>
    </div>
</nav> -->


<div>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color:#66c2ff">
       <a href=""> <img src="https://raw.githubusercontent.com/MariosGeni/sacchon-app/master/src/icons/175401312_467778847672539_2353889670016565298_n.png" class="navbar-brand" alt="logo"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>

        <form class="form-inline" id="guestForm"  name="guestForm" action="/login">
            <button type="submit" style="margin-right: auto" class="mt-2 btn btn-lg btn-dark">
                Sign-In
            </button>
            <button type="submit" style="margin-right: auto" class="mt-2 btn btn-lg btn-dark">
                Register
            </button>
        </form>
        </div>
    </nav>
</div>
<div class="container pt-4 mt-lg-4">
    <div class="row">

        <div class="col mr-3">
            <div id="card" class="card" >
                <img class="card-img-top" src="src\icons\blog-diabetes.png" alt="Card image cap" id="images">
                <div class="card-body">
                    <h4 id="h4" class="card-title">Why Us</h4>
                    <p class="card-text text-center">We are in the business for 25 years, we use eco-friendly materials and the most important? We see satisfaction in our customers' faces</p>
                </div>
            </div>
        </div>

        <div class="col mr-3">
            <div id="card" class="card">
                <img class="card-img-top" src="/images/low_price.png" alt="Card image cap" id="images">
                <div class="card-body">
                    <h4 id="h4" class="card-title">Low Cost</h4>
                    <p class="card-text text-center">We promptly and responsibly cover any house repair. We use premium materials with low cost, we fix your home and we do not drain your wallet</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div id="card" class="card">
                <img class="card-img-top" src="/images/tools.jpg" alt="Card image cap" id="images">
                <div class="card-body">
                    <h4 id="h4" class="card-title">Range of Services</h4>
                    <p class="card-text text-center">We provide a complete range of services, from changing a light bulb and giving advice to small or large renovations, in order to meet all your needs.</p>
                </div>
            </div>
        </div>

    </div>
</div>


<footer class="bg-dark text-center text-white">
    <div class="text-center p-3" style="background-color: #66c2ff">
      © 2020 Copyright:
      <a class="text-white">Sacchon</a>
    </div>
  </footer>