<div class="container pt-4 mt-lg-4">
  <div class="row" style="margin-bottom: 20%;">
    <h1>Sacchon</h1>



    <div class="row" style="text-align: center;">
      <section>
        <h6 style="margin-bottom: 5%;">
          Your wellness, our mission.

          <img class="card-img-top"
            src="https://user-images.githubusercontent.com/67487647/115463590-a975c980-a234-11eb-8796-4c3544fefe07.jpg"
            alt="Card image cap" id="images" style="margin-bottom: 12%;" width="400" height="450">



          <div class=row>

            <div class="col-md-4">
              <div id="card" class="card" style="margin-bottom: 30%;">
                <h5 style="color: rgb(17, 90, 158);">Are you a doctor?</h5>

                <img class="card-img"
                  src="https://user-images.githubusercontent.com/67487647/115541256-9819d500-a2a7-11eb-94eb-2528d5bb43d2.jpg"
                  alt="Card image cap" id="images" width="350" height="300">
                <div class="card-body">


                  <button type="submit" style="margin-center" class="btn btn-outline-secondary"
                    [routerLink]="['/login/doctor_login']" routerLinkActive="active" btn-lg btn-block>
                    Sign-In as a doctor
                  </button>
                  <button type="submit" style="margin-center" class="btn btn-primary"
                    [routerLink]="['/register/doctor_register']" routerLinkActive="active" btn-lg btn-block>
                    Register as a doctor
                  </button>

                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div id="card" class="card" style="margin-bottom: 30%;">
                <img class="card-img"
                  src="https://user-images.githubusercontent.com/67487647/115545971-26448a00-a2ad-11eb-8569-337c10780e26.jpg"
                  alt="Card image cap" id="images" width="600" height="480">

              </div>
            </div>

            <div class="col-md-4" style="margin-top: 2%;">
              <h2 style="margin-bottom: 8%;">
                Who we are
              </h2>

              <h4>
                We are a dedicated team launching this revolutionary iniatiative to
                improve your quality of life day to day. We believe that immediate availability of health
                records and trained healthcare professionals will offer you what you need in the easiest way
                than ever before-just with one click! </h4>
            </div>


          </div>
        </h6>



        <div>

        </div>
      </section>
    </div>
  </div>
  <footer class="bg-white text-center text-black footer">
    <div class="text-center p-2" style="background: rgba(0,0,0,0.05);">
      © 2021 Copyright:
      <a class="text-black">Sacchon</a>
    </div>
  </footer>