<div class="row">
    <div class="col-mid-7 offset-md-5 mb-3">
        <form [formGroup]="form" (ngSubmit)="onClickSubmit()" >
            <div class="form-group">
                <label for="nameInput">Date</label>
                <input type="date" class="form-control" id="dateInput" formControlName="date">
            </div>

            <div class="form-group">
                <label for="timeInput">Time</label>
                <input type="text" class="form-control" id="timeInput" formControlName="time">
            </div>

            <div class="form-group">
                <label for="glucoseLevelInput">Glucose Level (mg/DL)</label>
                <input type="text" class="form-control" id="glucoseLevelInput" formControlName="glucoseLevel">
            </div>

            <div class="form-group">
                <label for="carbIntakeInput">Carb Intake (Grams)</label>
                <input type="text" class="form-control" id="carbIntakeInput" formControlName="carbIntake">
            </div>

            <a class="btn btn-primary" [routerLink]="['/userdata']" routerLinkActive="active">Add Record</a>


        </form>
    </div>
</div>
