<div>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color:#b3e0ff">
       <a href=""> <img src="https://raw.githubusercontent.com/MariosGeni/sacchon-app/master/src/icons/Untitled-1%20(1).png" class="navbar-brand" alt="logo"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <a class="nav-link active" aria-current="page" [routerLink]="['/login']"
            routerLinkActive="active"> 
            <button type="submit" style="margin-right" class="mt-2 btn btn-lg btn-primary">
                Sign-In
            </button></a>
            <button type="submit" style="margin-right" class="mt-2 btn btn-lg btn-secondary" [routerLink]="['/register']" routerLinkActive="active">
                Register
            </button>
        </div>
    </nav>
</div>
<div class="container pt-4 mt-lg-4">
    <div class="row">

        <div class="col mr-3">
            <div id="card" class="card" >
                <img class="card-img-top" src="src\icons\blog-diabetes.png" alt="Card image cap" id="images">
                <div class="card-body">
                    <h4 id="h4" class="card-title">Why Us</h4>
                    <p class="card-text text-center">We are in the business for 25 years, we use eco-friendly materials and the most important? We see satisfaction in our customers' faces</p>
                </div>
            </div>
        </div>

        <div class="col mr-3">
            <div id="card" class="card">
                <img class="card-img-top" src="/images/low_price.png" alt="Card image cap" id="images">
                <div class="card-body">
                    <h4 id="h4" class="card-title">Low Cost</h4>
                    <p class="card-text text-center">We promptly and responsibly cover any house repair. We use premium materials with low cost, we fix your home and we do not drain your wallet</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div id="card" class="card">
                <img class="card-img-top" src="/images/tools.jpg" alt="Card image cap" id="images">
                <div class="card-body">
                    <h4 id="h4" class="card-title">Range of Services</h4>
                    <p class="card-text text-center">We provide a complete range of services, from changing a light bulb and giving advice to small or large renovations, in order to meet all your needs.</p>
                </div>
            </div>
        </div>

    </div>
</div>


<footer class="bg-dark text-center text-white footer">
    <div class="text-center p-3" style="background-color: #b3e0ff">
      © 2020 Copyright:
      <a class="text-white">Sacchon</a>
    </div>
  </footer>
<router-outlet></router-outlet>