<div>
      <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background: rgba(0,0,0,0.05);">
        <a class="navbar-brand" href="#">Sacchon</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <a class="nav-link active" aria-current="page"> 
            
            <ul class="navbar-nav mr-auto">
            <button type="submit" style="margin-right" class="mt-2 btn btn-sm btn-outline secondary" [routerLink]="['/home-page']" routerLinkActive="active">
                Home
            </button>
            
           
            <button type="submit" style="margin-right" class="mt-2 btn btn-sm btn-outline secondary" [routerLink]="['/login/patient_login']" routerLinkActive="active">
                Sign-In
            </button>
            <button type="submit" style="margin-right" class="mt-2 btn btn-sm btn-primary" [routerLink]="['/register/patient_register']" routerLinkActive="active">
                Register
            </button>
        
                            


            <form class="form-inline" *ngIf="isLogged">
                <button style="margin-right" class="mr-auto btn btn-sm btn-outline-danger" (click)="logOut()">
                    Logout
                </button>
            </form>
            <form class="form-inline" *ngIf="isLoggedDoc">
                <button style="margin-right" class="mr-auto btn btn-sm btn-outline-danger" (click)="logOutDoc()">
                    Logout
                </button>
            </form>
            </ul>
            
            
                    
            </a>
        </div>
    </nav>
</div>



<router-outlet></router-outlet>

