<div class="row">
  <div class="col-mid-6 offset-md-5 mt-5">
    <h3>Login</h3>
    <form [formGroup]="loginFormPatient" (ngSubmit)="logInPatient()">
      <div class="form-group mr-2">
        <label for="username" class="form-label">Username</label>
        <input class="form-control" type="text" id="username" formControlName="username">
      </div>
      <div class="alert alert-danger" *ngIf="(loginFormPatient.get('username')?.dirty || loginFormPatient.get('username')?.touched) && !loginFormPatient.get('username')?.valid">
        <div *ngIf="loginFormPatient.get('username')?.errors!.required">
          Username is required
        </div>
        <div *ngIf="loginFormPatient.get('username')?.errors!.minlength">
          Username should be minimum {{ loginFormPatient.get('username')?.errors!.minlength.requiredLength }} characters
        </div>
        <div *ngIf="loginFormPatient.get('username')?.errors!.maxlength">
          Username should be maximum {{ loginFormPatient.get('username')?.errors!.maxlength.requiredLength }} characters
        </div>
      </div>



      <div class="form-group mr-2">
        <label for="password" class="form-label">Password</label>
        <input class="form-control" type="password" id="password" formControlName="password">
        <div class="alert alert-danger" *ngIf="((loginFormPatient.get('passwrord')?.dirty || loginFormPatient.get('passwrord')?.touched) && !loginFormPatient.get('passwrord')?.valid)">
          <div *ngIf="loginFormPatient.get('passwrord')?.errors!.required">
            Password is required
          </div>
          <div *ngIf="loginFormPatient.get('passwrord')?.errors!.minlength">
            Password should be minimum {{ loginFormPatient.get('passwrord')?.errors!.minlength.requiredLength}} characters
          </div>
          <div *ngIf="loginFormPatient.get('passwrord')?.errors!.maxlength">
            Password should be maximum {{ loginFormPatient.get('passwrord')?.errors!.maxlength.requiredLength }} characters
          </div>
        </div>
      </div>
      <div class="row">
      <div class="col-6">
        <button [routerLink]="['/userdata']" routerLinkActive="active" class="btn btn-primary">Login <i class="bi bi-arrow-right-circle"></i></button>
      </div>
      <div class="col">
        <button class="btn btn-secondary" [routerLink]="['']" routerLinkActive="active" style="margin-left: 25%;">Back</button>
      </div>
      </div>
    </form>
  </div>
</div>