<div class=row>

  <div class="col-md-6" style="margin-top: 5%;">
    <h4 style="margin-left: 38%;">MY PATIENTS</h4>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">View patients' records</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Michael</td>
          <td>May</td>
          <a class="nav-link active" aria-current="page" routerLink="/doctor/medidata-view"
            routerLinkActive="active">See more </a>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Randall Cummins</td>
          <td>Thornton</td>
          <a class="nav-link active" aria-current="page" routerLink="/doctor/medidata-view"
            routerLinkActive="active">See more </a>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Seth</td>
          <td>Moffit</td>
          <a class="nav-link active" aria-current="page" routerLink="/doctor/medidata-view"
            routerLinkActive="active">See more </a>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Richard</td>
          <td>Karn</td>
          <a class="nav-link active" aria-current="page" routerLink="/doctor/medidata-view"
            routerLinkActive="active">See more </a>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Walter</td>
          <td>Maddox</td>
          <a class="nav-link active" aria-current="page" routerLink="/doctor/medidata-view"
            routerLinkActive="active">See more </a>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Harry</td>
          <td>Sollers</td>
          <a class="nav-link active" aria-current="page" routerLink="/doctor/medidata-view"
            routerLinkActive="active">See more </a>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Naomi</td>
          <td>Tobar</td>
          <a class="nav-link active" aria-current="page" routerLink="/doctor/medidata-view"
            routerLinkActive="active">See more </a>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>Ted</td>
          <td>Guiterrez</td>
          <a class="nav-link active" aria-current="page" routerLink="/doctor/medidata-view"
            routerLinkActive="active">See more </a>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>Domingo</td>
          <td>Dude</td>
          <a class="nav-link active" aria-current="page" routerLink="/doctor/medidata-view"
            routerLinkActive="active">See more </a>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>Joseph</td>
          <td>Preston</td>
          <a class="nav-link active" aria-current="page" routerLink="/doctor/medidata-view"
            routerLinkActive="active">See more </a>
        </tr>
        <tr>
          <th scope="row">11</th>
          <td>Brandon</td>
          <td>Day</td>
          <a class="nav-link active" aria-current="page" routerLink="/doctor/medidata-view"
            routerLinkActive="active">See more </a>
        </tr>
        <tr>
          <th scope="row">12</th>
          <td>Terra</td>
          <td>Gunderson</td>
          <a class="nav-link active" aria-current="page" routerLink="/doctor/medidata-view"
            routerLinkActive="active">See more </a>
        </tr>
        <tr>
          <th scope="row">13</th>
          <td>Walter</td>
          <td>Thrap</td>
          <a class="nav-link active" aria-current="page" routerLink="/doctor/medidata-view"
            routerLinkActive="active">See more </a>
        </tr>
        <tr>
          <th scope="row">14</th>
          <td>Todd</td>
          <td>Welch</td>
          <a class="nav-link active" aria-current="page" routerLink="/doctor/medidata-view"
            routerLinkActive="active">See more </a>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6" style="margin-top: 5%;">
    <h4 style="margin-left: 38%;">AVAILABLE PATIENTS</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col" class="nav-link active">Add patient</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Alan</td>
          <td>Wayne</td>
          <button class="btn btn-primary btn-lg" onclick="style.display = 'none'"><i class="bi bi-plus-circle"></i></button>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Eugene</td>
          <td>Louis</td>
          <button class="btn btn-primary btn-lg" onclick="style.display = 'none'"><i class="bi bi-plus-circle"></i></button>
        <tr>
          <th scope="row">3</th>
          <td>Bradley</td>
          <td>Smith</td>
          <button class="btn btn-primary btn-lg" onclick="style.display = 'none'"><i class="bi bi-plus-circle"></i></button>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Alan</td>
          <td>Wayne</td>
          <button class="btn btn-primary btn-lg" onclick="style.display = 'none'"><i class="bi bi-plus-circle"></i></button>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Eugene</td>
          <td>Louis</td>
          <button class="btn btn-primary btn-lg" onclick="style.display = 'none'"><i class="bi bi-plus-circle"></i></button>
        <tr>
          <th scope="row">6</th>
          <td>Bradley</td>
          <td>Smith</td>
          <button class="btn btn-primary btn-lg" onclick="style.display = 'none'"><i class="bi bi-plus-circle"></i></button>
        </tr>
      </tbody>
    </table>
  </div>
</div>