<div class=row>

  <div class="col-md-5" style="margin-top: 5%;">
    <h4>MY PATIENTS</h4>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">View patients' records</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Lily</td>
          <td>Roberts</td>
          <a class="nav-link active" aria-current="page" routerLink="/doctor/charts" routerLinkActive="active">View Records</a>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <a class="nav-link active" aria-current="page" routerLink="home-page" routerLinkActive="active">View
            Records</a>

        </tr>
        <tr>
          <td>James</td>
          <td>Taylor</td>
        </tr>
        <tr>
          <td>Kenneth</td>
          <td>Anderson</td>
        </tr>
        <tr>
          <td>Timothy</td>
          <td>Wilson</td>
        </tr>
        <tr>
          <td>Justin</td>
          <td>Martinez</td>
        </tr>
        <tr>
          <td>Frank</td>
          <td>Rodriguez</td>
        </tr>
        <tr>
          <td>Aaron</td>
          <td>Davis</td>
        </tr>
        <tr>
          <td>Kyle</td>
          <td>Miller</td>
        </tr>
        <tr>
          <td>Jeremy</td>
          <td>Garcia</td>
        </tr>
        <tr>
          <td>Keith</td>
          <td>Jones</td>
        </tr>
        <tr>
          <td>Joe</td>
          <td>Brown</td>
        </tr>
        <tr>
          <td>Jesse</td>
          <td>Williams</td>
        </tr>
        <tr>
          <td>Willie</td>
          <td>Johnson</td>
        </tr>
      </tbody>
    </table>
  </div>


  <!-- <div class="col-md-3">
  <a class="btn btn-outline-secondary btn-lg" routerLink="/home-page" routerLinkActive="active">Add a new Record</a>     
  <a class="nav-link active" aria-current="page" routerLink="home-page" routerLinkActive="active">View Records</a>
  <a class="nav-link active" aria-current="page" routerLink="doctor/my-patients" routerLinkActive="active">View Records</a>
  <a class="nav-link active" aria-current="page" routerLink="doctor/my-patients" routerLinkActive="active">View Records</a>
  <a class="nav-link active" aria-current="page" routerLink="doctor/my-patients" routerLinkActive="active">View Records</a>
  <a class="nav-link active" aria-current="page" routerLink="doctor/my-patients" routerLinkActive="active">View Records</a>
  <a class="nav-link active" aria-current="page" routerLink="doctor/my-patients" routerLinkActive="active">View Records</a>
  <a class="nav-link active" aria-current="page" routerLink="doctor/my-patients" routerLinkActive="active">View Records</a>
  <a class="nav-link active" aria-current="page" routerLink="doctor/my-patients" routerLinkActive="active">View Records</a>
  <a class="nav-link active" aria-current="page" routerLink="doctor/my-patients" routerLinkActive="active">View Records</a>
  <a class="nav-link active" aria-current="page" routerLink="doctor/my-patients" routerLinkActive="active">View Records</a>
  <a class="nav-link active" aria-current="page" routerLink="doctor/my-patients" routerLinkActive="active">View Records</a>
  <a class="nav-link active" aria-current="page" routerLink="doctor/my-patients" routerLinkActive="active">View Records</a>


</div> -->

  <div class="col-md-4" style="margin-top: 5%;">
    <h4>AVAILABLE PATIENTS</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col" class="nav-link active">Add patient</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Alan</td>
          <td>Wayne</td>
          <a class="btn btn-outline-primary btn-lg" routerLink="/home-page" routerLinkActive="active">Add</a>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Eugene</td>
          <td>Louis</td>
          <a class="btn btn-outline-primary btn-lg" routerLink="/home-page" routerLinkActive="active">Add</a>
        <tr>
          <th scope="row">3</th>
          <td>Bradley</td>
          <td>Smith</td>
          <a class="btn btn-outline-primary btn-lg" routerLink="/home-page" routerLinkActive="active">Add</a>
      </tbody>
    </table>

  </div>

  <div class="col-md-3">
    <div id="card" class="card" style="margin-top: 30%;">
      <div class="card-body">
        <h5>Personal Info</h5>
        <h6>Marc Otto</h6>
        <h6>marcotto@sacchon.com</h6>
        <h6>+306983495587</h6>
        <h6>West 28th Street</h6>
        <a class="btn btn-outline-primary btn-lg btn-block">Edit</a>
      </div>
    </div>
  </div>
</div>