<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col"></th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td class="nav-link active" aria-current="page" 
        routerLink="doctor/my-patients" routerLinkActive="active">View Records</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td class="nav-link active" aria-current="page" 
        routerLink="doctor/my-patients" routerLinkActive="active">View Records</td>      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td class="nav-link active" aria-current="page" 
        routerLink="doctor/my-patients" routerLinkActive="active">View Records</td>      </tr>
    </tbody>
  </table>



  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col"></th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <a class="nav-link active" aria-current="page" 
        routerLink="doctor/my-patients" routerLinkActive="active">View Records</a>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td class="nav-link active" aria-current="page" 
        routerLink="doctor/my-patients" routerLinkActive="active">View Records</td>      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td class="nav-link active" aria-current="page" 
        routerLink="doctor/my-patients" routerLinkActive="active">View Records</td>      </tr>
    </tbody>
  </table>

